/*basic styling for universal things*/
body {
    color: #e9eef4;
    margin: 0;
    font-family: sans-serif;
    background-color: #0a121d;
}

#border {
    margin: 0 auto;
    width: 95%;
    height: 1000px;
    background-color: #0a121d;
    
}

/* navigation bar */
nav {
    height: 50px;
    background-color: #0f70f5;
    color: #e9eef4;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 80px;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    color: #e9eef4;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.logo {
    font-size: 24px;
}

/*about and pic*/

#aboutandpic {
    display: flex;
    justify-content: space-around;
    margin: 5% 13%
}

#about {
    font-size: 18px;
    text-align: right;
    width: 700px;
    margin-right: 50px;
    /*border: #97b8e7 solid 4px;*/
    background-color:#97b8e71e;
    border-radius: 10px;
    padding: 1px 30px;
}

#about h2 {
    padding: 0%;
    margin: 4%;
}

#profilepic{
    display: flex;
    width: 200px;
    height: 200px;
    min-width: 200px;
    border: #97b8e7 solid 4px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    align-self: center;
    margin: 0px;
}

/*devlogos*/

#devlogos {
    display: flex;
    margin: 0% 10%;
    justify-content: space-between;
    background-color:#97b8e7;
    border-radius: 20px;
    padding: 10px;
}

#devlogos img {
    width: 70px;
}

/*projects*/
#projects {
    text-align: center;
}

/*contact*/
#contact {
    text-align: center;
}

